src/main/resources/xsd/Coffee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="Coffee">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="price" type="xs:double" minOccurs="1"	maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>