src/main/resources/xsd/Delivery.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="Beverage.xsd" />
	<xs:include schemaLocation="Coffee.xsd" />
	<xs:include schemaLocation="Receipt.xsd" />
	<xs:element name="delivery">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="beverage" type="Beverage" minOccurs="0"
					maxOccurs="unbounded" />
				<xs:element name="coffee" type="Coffee" minOccurs="0"
					maxOccurs="unbounded" />
				<xs:element name="receipt" type="Receipt" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>