src/main/resources/xsd/OrderResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >
	<xs:element name="orderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="url" type="xs:string" minOccurs="1" maxOccurs="1" />
				<xs:element name="change" type="xs:double" minOccurs="1" maxOccurs="1" />
				<xs:element name="statusMessage" type="xs:string" minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>